<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Mi currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi currículum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="resume-card">
    <ion-card-header>
      <ion-card-title>Alejandro López Maya</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenido del Currículum -->
      <ion-list lines="none">
        <ion-item>
          <strong>Nombre:</strong> Alejandro López Maya
        </ion-item>
        <ion-item>
          <strong>Edad:</strong> 19
        </ion-item>
        <ion-item>
          <strong>Correo electrónico:</strong>
          <p>alelopmay&#64;gmail.com</p>
        </ion-item>
        <ion-item>
          <strong>Dirección:</strong> Calle Juan de la O
        </ion-item>
        <ion-item>
          <strong>Experiencia laboral:</strong> [Incluir aquí tu experiencia laboral]
        </ion-item>
        <ion-item>
          <strong>Educación:</strong>
          <ion-list lines="none" class="education-list">
            <ion-item>
              <ion-text>
                <p>Institución: IES Emilio Canalejo</p>
                <p>Carrera: ESO</p>
                <p>Periodo: 2014 - 2020</p>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text>
                <p>Institución: IES Inca Garcilaso</p>
                <p>Carrera: ciclo medio formativo de SMR (Técnico en Sistemas Microinformáticos y Redes)</p>
                <p>Periodo: 2020 - 2022</p>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text>
                <p>Institución: IES Francisco de los Rios</p>
                <p>Carrera: ciclo superior de DAM</p>
                <p>Titulación: Técnico Superior en Desarrollo de Aplicaciones Multiplataforma (DAM)</p>
                <p>Periodo: 2020 - 2022</p>
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>